In [1]:
import geonamescache
import pandas as pd
from geotext import GeoText
import numpy as np
import plotly
import plotly.plotly as py
from pycountrylist import *
import plotly
import plotly.plotly as py
import pycountry


# Reading dataframe

df = pd.read_csv('temporary.csv')

df.head()

df['freq'] = df.groupby('location')['location'].transform('count')


df.isnull().values.any()
df = df.dropna()   

# Re indexing the lazy way

filename = 'barca_loc_freq.csv'
df.to_csv(filename, encoding='utf-8')


df_2 = pd.read_csv('barca_loc_freq.csv')

x = df.groupby('Location')

df = df_2.drop('Unnamed: 0',axis = 1)

#Capitlising
df['location'] = df['location'].apply(lambda x: x.title())
df = df.drop('Unnamed: 0',axis =1)
df = df.drop('freq',axis =1)

# Removing noisy locations -> List of cities and countries
def pre_process(x):
    places = GeoText(x)
    if places.cities:
        return places.cities
    
    elif places.countries:
        return places.countries
    
    else:
        return np.NaN

df_2 = df.applymap(pre_process)
df_2.isnull().values.any()
df_final = df_2.dropna()

# Extracting City/Country , Barcelona, Spain --> Spain

def pre_process_again(x):
    
    return x[len(x)-1]

df_final_new = df_final.applymap(pre_process_again)
df = df_final_new
df.head()

        location
2      Edinburgh
4     South Gate
6      Barcelona
7   Johannesburg
11       Atlanta

In [ ]:
country_list = []
dict_new = {}
for i in countries:
    x = i['name']
    y = i['code']
    country_list.append({'country':x,'code':y})

In [6]:
# list of all cities with country code information

gc = geonamescache.GeonamesCache()
cities = gc.get_cities()

In [7]:
# Map city/country to country code

def map_to_country(x):
    
    for i in country_list:
        y = i['country']  
        if x in y:
            return i['code']
        
        else:
            city = gc.get_cities_by_name(x)
            
            try:
                
                for j in city[0].values():
                    return j['countrycode']
            except IndexError:
                pass

In [8]:
df_2 = df.applymap(map_to_country)

In [9]:
df_2.isnull().values.any()
df_2 = df_2.dropna()

In [11]:
# Add country name

def add_country(x):
    
     for i in country_list:
            if x == i['code']:
                return x+','+i['country']

In [12]:
df_2 = df_2.applymap(add_country)

In [13]:
df_2.columns = ['code,country']

In [16]:
df_2 = df_2.dropna()

In [19]:
 df_3 = df_2['code,country'].apply(lambda x: pd.Series(x.split(','))) # WHICH ONE?? THIS OR ABOVE

In [20]:
df_3.columns = ['code','country']

In [21]:
df = df_3

In [22]:
# Dataframe with original index number, code, country

df

     code               country
4      US         United States
6      ES                 Spain
7      ZA          South Africa
11     US         United States
26     PH           Philippines
28     AU             Australia
32     ZA          South Africa
34     FR                France
36     ES                 Spain
37     TH              Thailand
38     DE               Germany
39     GB        United Kingdom
40     US         United States
44     ZA          South Africa
46     ES                 Spain
49     US         United States
51     NG               Nigeria
52     CO              Colombia
54     US         United States
55     CA                Canada
57     SZ             Swaziland
58     DE               Germany
59     GB        United Kingdom
65     AE  United Arab Emirates
66     CA                Canada
67     SE                Sweden
69     NG               Nigeria
73     ES                 Spain
74     IN                 India
79     ZA          South Africa
...   ...                   ...
3881   US         United States
3882   BG              Bulgaria
3883   MX                Mexico
3885   IN                 India
3887   EC               Ecuador
3888   PT              Portugal
3889   ID             Indonesia
3890   KE                 Kenya
3891   US         United States
3894   PH           Philippines
3896   GH                 Ghana
3898   ES                 Spain
3899   ES                 Spain
3900   ES                 Spain
3901   NP                 Nepal
3902   IE   Republic of Ireland
3903   FR                France
3905   US         United States
3906   US         United States
3907   US         United States
3908   ES                 Spain
3909   EC               Ecuador
3914   US         United States
3915   US         United States
3916   ES                 Spain
3918   US         United States
3920   US         United States
3921   ES                 Spain
3923   ES                 Spain
3926   GB        United Kingdom

[1759 rows x 2 columns]

In [23]:
# Read Dataframe with frequency for individual cities
# Merge, df and dframe with common id number and only retain frequency 
# Then, groupby country code and sum frequecny

dframe = pd.read_csv('barca_loc_freq_reindexed.csv')

In [24]:
dframe

      Unnamed: 0                        location   freq
0              0         unfinished product 1120    1.0
1              1                    Johustleburg    1.0
2              2                      Edinburgh     1.0
3              3            New Lanark, Scotland    1.0
4              4              Lynwood/South Gate    1.0
5              5              Santiago Bernabéu     1.0
6              6            Barcelona - Mallorca    1.0
7              7                    Johannesburg    1.0
8              8                       My Domain    1.0
9              9             Throughout Scotland    2.0
10            10                          Lyanne    1.0
11            11              New York & Atlanta    1.0
12            12      The Land of Wood and Water    1.0
13            13                  Up In The sky     1.0
14            14                    United World    1.0
15            15                 di mana2 sahaja    1.0
16            16                            20's    1.0
17            17                          Evron     1.0
18            18                     S Y D N E Y    1.0
19            19                   Ur Assignment    1.0
20            20                      ठाणे, भारत    1.0
21            21             East Siiidddeeee...    1.0
22            22    Londoner hiding in Cornwall     1.0
23            23               Braamfointein Jhb    1.0
24            24                    Middle earth    1.0
25            25           United Kingdom London    1.0
26            26               Altorreal, Murcia    1.0
27            27                Hotel Cortez, LA    1.0
28            28                      Cheltenham    1.0
29            29                             Noi    1.0
...          ...                             ...    ...
3898        3898            Barcelona, Catalonia   74.0
3899        3899             Barcelona, Cataluña   91.0
3900        3900              Barcelona, Espanya  252.0
3901        3901                kathmandu, Nepal    1.0
3902        3902                         Ireland   21.0
3903        3903                  Vienne, France    2.0
3904        3904                      Texas, USA    4.0
3905        3905                     Orlando, FL    6.0
3906        3906                      Boston, MA    8.0
3907        3907                      Durham, NC    1.0
3908        3908                           Spain  110.0
3909        3909                         Ecuador    1.0
3910        3910             North BASSLAND, USA    1.0
3911        3911                 Dream zone. . .    1.0
3912        3912          •santa tell me ariana•    1.0
3913        3913                          Italia   12.0
3914        3914                 Duluth, GA, USA    3.0
3915        3915                  Greenville, SC    1.0
3916        3916                 Marbella, Spain   12.0
3917        3917                              日本   10.0
3918        3918                   United States   81.0
3919        3919  Saint Vincent and the Grenadin    1.0
3920        3920         Bonney Lake, Washington    1.0
3921        3921                Barcelona, Spain  617.0
3922        3922               Bowmore, Scotland    2.0
3923        3923               Barcelona, España  660.0
3924        3924                Ciudad de México    2.0
3925        3925               Pennsylvania, USA   47.0
3926        3926                  United Kingdom  207.0
3927        3927                             027    1.0

[3928 rows x 3 columns]

In [25]:
df_test = df.join(dframe)

In [27]:
df_FINAL = df_test.drop(['Unnamed: 0','location'],axis = 1)

In [28]:
df_FINAL

     code               country   freq
4      US         United States    1.0
6      ES                 Spain    1.0
7      ZA          South Africa    1.0
11     US         United States    1.0
26     PH           Philippines    1.0
28     AU             Australia    1.0
32     ZA          South Africa    1.0
34     FR                France    1.0
36     ES                 Spain    1.0
37     TH              Thailand    1.0
38     DE               Germany    1.0
39     GB        United Kingdom    1.0
40     US         United States    1.0
44     ZA          South Africa    2.0
46     ES                 Spain    1.0
49     US         United States    1.0
51     NG               Nigeria    1.0
52     CO              Colombia    1.0
54     US         United States    1.0
55     CA                Canada    1.0
57     SZ             Swaziland    1.0
58     DE               Germany    1.0
59     GB        United Kingdom    1.0
65     AE  United Arab Emirates    1.0
66     CA                Canada    1.0
67     SE                Sweden    1.0
69     NG               Nigeria    1.0
73     ES                 Spain    1.0
74     IN                 India    1.0
79     ZA          South Africa    1.0
...   ...                   ...    ...
3881   US         United States    1.0
3882   BG              Bulgaria    1.0
3883   MX                Mexico    1.0
3885   IN                 India    1.0
3887   EC               Ecuador    2.0
3888   PT              Portugal  200.0
3889   ID             Indonesia    1.0
3890   KE                 Kenya    6.0
3891   US         United States    2.0
3894   PH           Philippines    1.0
3896   GH                 Ghana    1.0
3898   ES                 Spain   74.0
3899   ES                 Spain   91.0
3900   ES                 Spain  252.0
3901   NP                 Nepal    1.0
3902   IE   Republic of Ireland   21.0
3903   FR                France    2.0
3905   US         United States    6.0
3906   US         United States    8.0
3907   US         United States    1.0
3908   ES                 Spain  110.0
3909   EC               Ecuador    1.0
3914   US         United States    3.0
3915   US         United States    1.0
3916   ES                 Spain   12.0
3918   US         United States   81.0
3920   US         United States    1.0
3921   ES                 Spain  617.0
3923   ES                 Spain  660.0
3926   GB        United Kingdom  207.0

[1759 rows x 3 columns]

In [29]:
# Groupby frequency

df_FINAL = df_FINAL.groupby(['code','country'], as_index = False)[['freq']].sum()

In [296]:
"""DO NOT RUN THIS """
# df_FINAL.to_csv('FINAL_FINAL.csv')

In [31]:
# Plotly needs 3 letter country code. So converting 2 letter to 3 letter. Planning on removing this soon
pycountry.countries

l_2 = []
l_3 = []
for country in pycountry.countries:
    l_2.append(country.alpha_2)
    l_3.append(country.alpha_3)

df_x = pd.DataFrame({'code':l_2,'code_3':l_3})

# 
df = pd.merge(df_FINAL,df_x, on='code', how='outer')

In [39]:
data = [ dict(
        type = 'choropleth',
        locations = df['code_3'],
        z = df['freq'],
        text = df['country'],
        colorscale = [[0,"rgb(5, 10, 172)"],[0.35,"rgb(40, 60, 190)"],[0.5,"rgb(70, 100, 245)"],\
            [0.6,"rgb(90, 120, 245)"],[0.7,"rgb(106, 137, 247)"],[1,"rgb(220, 220, 220)"]],
        autocolorscale = False,
        reversescale = True,
        marker = dict(
            line = dict (
                color = 'rgb(180,180,180)',
                width = 0.5
            ) ),
        colorbar = dict(
            autotick = False,
            tickprefix = '',
            title = 'Fans'),
      ) ]

layout = dict(
    title = 'Barcelona <3',
    geo = dict(
        showframe = False,
        showcoastlines = False,
        projection = dict(
            type = 'Mercator'
        )
    )
)

fig = dict( data=data, layout=layout )
plotly.offline.plot( fig, validate=False, filename='d3-world-map' )

/home/cbsudux/.local/lib/python3.5/site-packages/plotly/offline/offline.py:459: UserWarning:

Your filename `d3-world-map` didn't end with .html. Adding .html to the end of your file.

'file:///home/cbsudux/python_ws/marcobonbon/d3-world-map.html'